---
layout: default
title: Home
---

<div class="posts">

  <div>
    <p>Ingeniero Eléctrico, <a href="https://es.wikipedia.org/wiki/Cultura_maker">hacedor</a> y aficionado a varios
      oficios.</p>
    <p>Este es mi portafolio de proyectos en los que he trabajado.
      Tengo un <a href="https://blog.franciscocasado.cl"><b>blog</b></a> donde cuento más detalles de lo que hago y las
      ideas que tengo en mente.</p>
    <hr>
  </div>

  <h1>Proyectos</h1>
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
      <span class="category-tag"> {{ post.categories | first }} </span>
    </h2>
    <div>
      <p class="post-date">{{post.date | date: "%Y" }}
    </p>
    </div>
    <div>
      {{post.summary}}
      <img src="{{ '/' | relative_url }}{{ post.thumbnail }} " class="thumbnail" alt="">
    </div>
  </div>
  {% endfor %}
</div>
<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->