.thumbnail {
    display: block;
    margin: 0 0 1rem;
    border-radius: 5px;
}

@media (max-width: 420px) {
    .thumbnail {
        max-width: 72%;
    }

    .post a .post-title{
        position: absolute;
        top: 12px;
        left: 47%;
    }
    .post a .post-date, .post-summary {
        position: absolute;
        left: 78%;
    }
}
@media (min-width: 420px) {
    .thumbnail {
        max-width: 270px;
        
    }
    .post a .post-title{
        position: absolute;
        top: 12px;
        left: 200px;
    }

    .post a .post-date, .post-summary {
        position: absolute;
        left: 290px;
    }
}

.icon {
    display: inline;
    max-width: 16px;
    margin: 0 0 0rem;
}

img.emoji {
    display: inline;
    height: 1em;
    width: 1em;
    margin-bottom: 0em;
    }

.category-tag {
    font-size: 12px;
    font-weight: 500;
    color: whitesmoke;
    background: rgba(54, 131, 175, 0.884);
    border: rgb(43, 128, 177) solid thin;
    border-radius: 4px;
    padding: 0em 0.5em ;
    margin: 1em 0em;
}

.socials img{
    width: 1.4em;
    color: whitesmoke;
    display: inline;
    filter: invert(1);
    margin-bottom: 0;
    border-radius: 3px;
}

.socials img:hover{
    background-color: #d47f4e;
}

.socials a:hover{
    text-decoration: none;
}

.post {
    position: relative;
}

.post a h2.post-summary {
    position: relative;
    color: #313131d5;
}


.post a .post-title{
    color: rgba(245, 245, 245, 0.94);
    background-color: #6a9fb5fa;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    box-shadow: 2px 2px 5px gray;
    text-align: left;
}

.post a .post-summary {
    position: absolute;
    color: #313131;
    top: 82px;
}

.post a .post-date {
    margin: 0;
    position: absolute;
    top: 56px;
    
}

.post a h2:hover{
    background-color: rgba(54, 131, 175, 0.95);
}

body {
    background-color: rgba(209, 209, 209, 0.473);
}

.content {
    background-color: white;
    min-height: 100vh;
    box-shadow: 10px 10px 10px rgb(224, 224, 224);
}


.ak-footer {
    font-size: small;
    font-style: italic;
    overflow: hidden; /* clearfix */
    margin-left: 0rem;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    color: #aaa;
    text-align: left;
    position: relative;
    bottom: 0;
    text-align: center;
}
  
@media (min-width: 48em) {
    .ak-footer {
        text-align:start;
    }
}

.pdf-viewer {
    width: 100%;
    height: 800px;
}


.about-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-intro .description{
    justify-content: center;
    margin: 0;
    padding-right: 2em;
}

.about-intro .profile-pic {
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    min-height: 200px;
    min-width: 200px;
}

  
@media (min-width: 48em) {
    .about-intro {
        flex-direction:row;
        justify-content: start;
    }
}



.gallery {
    width: 100%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img{
    height: 200px;
    margin: 5px;

    border: none;
    border-radius: 5px;

    font-weight: bold;
    font-size: 2em;
    text-align: center;
    transition: transform 0.25s ease;
}


.gallery img:hover {
    -webkit-transform:scale(2);
    transform:scale(1.5);
}

.caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

.choose_lang {
    text-align: right;
    font-size: small;
    font-style: italic;
    color:#aaa;
    
}

.choose_lang span {
    font-style: normal;
    border-radius: 50%;
}


.cv h2 {
    position: relative;
    margin: 0.5rem 0;
    border: 0;
    border-bottom: 1px solid #eee;
}

.cv h3 {
    position: relative;
    margin: 0.5rem 0;
    border: 0;
}


@media print {
    .sidebar {
        display: none;
    }
    
    .content {
        box-shadow: none;
    }
}