.thumbnail {
    display: block;
    max-width: 15rem;
    margin: 0 0 1rem;
    border-radius: 5px;
}

.icon {
    display: inline;
    max-width: 16px;
    margin: 0 0 0rem;
}

img.emoji {
    display: inline;
    height: 1em;
    width: 1em;
    margin-bottom: 0em;
    }

.category-tag {
    font-size: 12px;
    font-weight: 500;
    color: whitesmoke;
    background: rgba(54, 131, 175, 0.884);
    border: rgb(43, 128, 177) solid thin;
    border-radius: 4px;
    padding: 0em 0.5em ;
    margin: 1em 0em;
}

.socials img{
    width: 1.4em;
    color: whitesmoke;
    display: inline;
    filter: invert(1);
    margin-bottom: 0;
    border-radius: 3px;
}

.socials img:hover{
    background-color: #d47f4e;
}

.socials a:hover{
    text-decoration: none;
}

.post {
    border: thick;
}