.thumbnail {
    display: block;
    margin: 0 0 1rem;
    border-radius: 5px;
}

@media (max-width: 420px) {
    .thumbnail {
        max-width: 72%;
    }

    .post a .post-title{
        position: absolute;
        top: 12px;
        left: 47%;
    }
    .post a .post-date, .post-summary {
        position: absolute;
        left: 78%;
    }
}
@media (min-width: 420px) {
    .thumbnail {
        max-width: 270px;
        
    }
    .post a .post-title{
        position: absolute;
        top: 12px;
        left: 200px;
    }

    .post a .post-date, .post-summary {
        position: absolute;
        left: 290px;
    }
}

.icon {
    display: inline;
    max-width: 16px;
    margin: 0 0 0rem;
}

img.emoji {
    display: inline;
    height: 1em;
    width: 1em;
    margin-bottom: 0em;
    }

.category-tag {
    font-size: 12px;
    font-weight: 500;
    color: whitesmoke;
    background: rgba(54, 131, 175, 0.884);
    border: rgb(43, 128, 177) solid thin;
    border-radius: 4px;
    padding: 0em 0.5em ;
    margin: 1em 0em;
}

.socials img{
    width: 1.4em;
    color: whitesmoke;
    display: inline;
    filter: invert(1);
    margin-bottom: 0;
    border-radius: 3px;
}

.socials img:hover{
    background-color: #d47f4e;
}

.socials a:hover{
    text-decoration: none;
}

.post {
    position: relative;
}

.post a h2.post-summary {
    position: relative;
    color: #313131d5;
}


.post a .post-title{
    color: rgba(245, 245, 245, 0.94);
    background-color: #6a9fb5fa;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    box-shadow: 2px 2px 5px gray;
}

.post a .post-summary {
    position: absolute;
    color: #313131;
    top: 82px;
}

.post a .post-date {
    margin: 0;
    position: absolute;
    top: 56px;
    
}

.post a h2:hover{
    background-color: rgba(54, 131, 175, 0.95);
}

body {
    background-color: rgba(209, 209, 209, 0.473);
}

.content {
    background-color: white;
    box-shadow: 10px 10px 10px rgb(224, 224, 224);
}