<div class="choose_lang">
{% include page_lang.html %}

{% if page.layout != 'not_found' %}
{% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
{% if posts.size == 0 %}
  {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
{% endif %}
{% if posts.size > 1 %}
  <div class="lang-options">
    <div>
      {{ site.data.translations['chooseLanguage'][page_lang]}}
    </div>
    <div>
      {% for post in posts %}
      <span><a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="{{site.data.languages[post.lang].label}}">{{
          site.data.languages[post.lang].icon }}</a></span>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% endif %}

</div>