{% include page_lang.html %}

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <div class="brief">
        {{ site.data.translations['brief'][page_lang] | liquify }}
      </div>
    </div>

    <div class="socials">
      <span>
        <a href="https://github.com/FranciscoCasado" target="_blank">
          <img src="https://raw.githubusercontent.com/Automattic/social-logos/master/svg-min/github.svg" alt="GitHub">
        </a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/fcasadoc/" target="_blank">
          <img src="https://raw.githubusercontent.com/Automattic/social-logos/master/svg-min/linkedin.svg" alt="GitHub">
        </a>
      </span>
      <span>
        <a href="mailto:hola@franciscocasado.cl">
          <img src="{{ '/' | relative_url }}assets/img/mail.svg" alt="Correo">
        </a>
      </span>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | where:"lang", page_lang | sort: "nav-order" %}
      {% for node in pages_list %}
        {% if node.sidebar-title != null %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
              href="{{ site.baseurl }}{{ node.url }}">{{ node.sidebar-title }}</a>
        {% endif %}
      {% endfor %}
      
      <a class="sidebar-nav-item" href="https://blog.franciscocasado.cl/">Blog</a>
    </nav>


  </div>
</div>