<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="theme-base-0d">

  {% include sidebar.html %}

  <div class="content container">

    {% include choose_lang.html %}

    {{ content }}

  <div class="ak-footer">
    <p>
      El código fuente de esta página lo encuentras en <a href="https://github.com/FranciscoCasado/this-is-me">GitHub</a>
    </p>
    <p>
      <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="nc&quot;" width="16" height="16"
        class="icon">
      <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="nc&quot;" width="16" height="16"
        class="icon">
      {{ site.time | date: '%Y' }}. Uso no-comercial permitido.
    </p>
  </div>

</div>

  
</body>

</html>