---
layout: default
---
<div class="posts">
  {{ content }}
  <br />
  {% include page_lang.html %}
  {% assign posts = site.posts | where:"lang", page_lang %}

  {% for post in posts %}
  <div class="post">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <img src="{{ '/' | relative_url }}{{ post.thumbnail }}" class="thumbnail" alt="">
      <h2 class="post-title">
        {{ post.title }}
      </h2>
        <p class="post-date">{{post.date | date: "%Y" }}</p>
        <p class="post-summary">{{post.summary}}</p>
    </a>
  </div>
  {% endfor %}

</div>